# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/app.flx
/ios/Flutter/app.zip
/ios/Flutter/flutter_assets/
/ios/Flutter/flutter_export_environment.sh
/ios/ServiceDefinitions.json
/ios/Pods/
/ios/.symlinks/
/ios/Runner/GeneratedPluginRegistrant.*
/macos/Flutter/GeneratedPluginRegistrant.swift
/macos/Flutter/ephemeral
/macos/Pods/
/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will automatically add this to its gitignore
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/dictionaries
/.idea/vcs.xml
/.idea/shelf.xml

# Keystore files
*.jks
*.keystore

# Google Services (e.g. Firebase)
google-services.json
GoogleService-Info.plist

# Macos build
macos/Flutter/ephemeral/
locallink-release.apk
locallink.zip
